raspberrypi/node-red/LastNode-RED.json
[{"id":"552d0976772aee6a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a1b2c3d4e5f6g7h8","type":"tab","label":"Secure LoRa Gateway Monitor","disabled":false,"info":""},{"id":"mqtt_broker_1","type":"mqtt-broker","name":"Local MQTT","broker":"10.24.80.89","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ui_tab_1","type":"ui_tab","name":"LoRa Gas Dashboard","icon":"dashboard","order":1},{"id":"ui_group_1","type":"ui_group","name":"Gas Monitor","tab":"ui_tab_1","order":1,"disp":true,"width":"12"},{"id":"08144e303d26f2bf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"mqtt_in_1","type":"mqtt in","z":"a1b2c3d4e5f6g7h8","name":"LoRa Secure Gateway","topic":"lora/secure_gateway","qos":"0","datatype":"auto","broker":"mqtt_broker_1","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":120,"wires":[["json_parser"]]},{"id":"json_parser","type":"json","z":"a1b2c3d4e5f6g7h8","name":"Parse JSON Payload","property":"payload","action":"","pretty":false,"x":420,"y":120,"wires":[["status_evaluator"]]},{"id":"status_evaluator","type":"function","z":"a1b2c3d4e5f6g7h8","name":"Evaluasi Kondisi Gas","func":"let data = msg.payload;\n\n// Ambang batas (bisa disesuaikan)\nconst MQ135_LIMIT = 50;\nconst MQ7_LIMIT = 100;\nconst MQ9_LIMIT = 100;\n\n// Tangani nilai inf atau NaN\n['MQ135','MQ7','MQ9'].forEach(k => {\n    if (!isFinite(data[k])) data[k] = 0;\n});\n\nlet kondisi = \"Normal\";\n\nif (data.MQ135 > MQ135_LIMIT || data.MQ7 > MQ7_LIMIT || data.MQ9 > MQ9_LIMIT) {\n    kondisi = \"Waspada\";\n}\nif (data.MQ135 > MQ135_LIMIT*2 || data.MQ7 > MQ7_LIMIT*2 || data.MQ9 > MQ9_LIMIT*2) {\n    kondisi = \"Bahaya\";\n}\n\nmsg.payload = {\n    device_id: msg.topic, // Gunakan topik sebagai ID\n    MQ135: data.MQ135,\n    MQ7: data.MQ7,\n    MQ9: data.MQ9,\n    Temperature: data.Temp,\n    Humidity: data.Hum,\n    status: kondisi,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":120,"wires":[["debug_output","ui_table"]]},{"id":"debug_output","type":"debug","z":"a1b2c3d4e5f6g7h8","name":"Debug Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":80,"wires":[]},{"id":"ui_table","type":"ui_table","z":"a1b2c3d4e5f6g7h8","group":"ui_group_1","name":"Data Gas Sensor","order":1,"width":"12","height":"6","columns":[{"field":"device_id","title":"Device ID","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MQ135","title":"MQ135","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MQ7","title":"MQ7","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MQ9","title":"MQ9","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Temperature","title":"Temp (°C)","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Humidity","title":"Hum (%)","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"Timestamp","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":940,"y":160,"wires":[]},{"id":"8622bb8890762fb5","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.1.2","node-red-node-ui-table":"0.4.3"}}]